<form class="ui primary segment form" action="/addIsland" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Region/Category <i class="ie flag"></i> </label>
            <select name="region">
                {{#each regions}}
                            <option value="{{region}}">{{region}}</option>
                {{/each}}
            </select>
        </div>
        <div class="field">
            <label>Island Name</label>
            <input placeholder="Island Name" value="{{island.name}}" type="text" name="name" >
        </div>
    </div>
        <div class="field">
            <label>Description</label>
            <textarea rows="3" placeholder="Description"  type="text"  name="description"> </textarea>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Latitude</label>
                <input placeholder="Latitude"  value="{{island.latitude}}" type="text"  name="latitude" >
            </div>
            <div class="field">
                <label>Longitude</label>
                <input placeholder="Longitude"  value="{{island.longitude}}" type="text"  name="longitude" >
            </div>
        </div>
    <button class="ui blue submit button">Add Island</button>
</form>

