<div>
    <article class="four wide column">
        <table class="ui striped celled table segment">
            <thead>
            <tr>
                <th class="one wide">Region/Category</th>
                <th class="two wide"> Image </th>
                <th class="one wide">Island Name</th>
                <th>Description</th>
                <th class="one wide"> Latitude </th>
                <th class="one wide"> Longitude </th>
                <th class="one wide"> Edit Details </th>
                <th class="one wide"> Delete Island </th>
            </tr>
            </thead>
            <tbody>
                {{#each userIslands}}
                <tr>
                    <td> {{region.region}} </td>
                    <td> <img src="{{imageURL.[0]}}" class="ui medium image"> </td>
                    <td> {{name}} </td>
                    <td> {{description}} </td>
                    <td> {{latitude}} </td>
                    <td> {{longitude}} </td>
                    <td> <a href="/dashboard/showIslandDetails/{{_id}}" class="ui icon button">
                        <i class="edit icon"></i> </a>
                    </td>
                    <td> <a href="/dashboard/deleteIsland/{{_id}}" class="ui icon button">
                        <i class="icon trash"></i> </a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </article>
</div>