{{> mainmenuAdmin _id="dashboard" }}
<div>
    <article class="four wide column">
        <table class="ui striped celled table segment">
            <thead>
            <tr>
                <th class="one wide">Region/Category</th>
                <th class="one wide"> Image </th>
                <th class="one wide">Island Name</th>
                <th class="four wide">Description</th>
                <th class="one wide"> User </th>
                <th class="one wide"> View Details </th>
                <th class="one wide"> Delete Island </th>
            </tr>
            </thead>
            <tbody>
            {{#each userIslands}}
                <tr>
                    <td> {{region.region}} </td>
                    <td> {{filename}} </td>
                    <td> {{name}} </td>
                    <td> {{description}} </td>
                    <td> {{user.firstName}} {{user.lastName}} </td>
                    <td>  </td>
                    <td> <a href="/adminDashboard/{{../userID}}/deleteIsland/{{_id}}" class="ui icon button">
                        <i class="icon trash"></i>
                    </a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </article>
</div>