{{> mainmenuAdmin _id="dashboard" }}
{{log userIslands}}
<div>
    <article class="four wide column">
        <table class="ui striped celled table segment">
            <thead>
            <tr>
                <th class="one wide">Region/Category</th>
                <th class="two wide"> Image </th>
                <th class="one wide">Island Name</th>
                <th>Description</th>
                <th class="one wide"> User </th>
                <th class="one wide"> View Details </th>
            </tr>
            </thead>
            <tbody>
            {{#each userIslands}}
                <tr>
                    <td> {{region.region}} </td>
                    <td> {{filename}} </td>
                    <td> {{name}} </td>
                    <td> {{description}} </td>
                    <td> {{user.firstName}} {{user.lastName}} </td>
                    <td> </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </article>
</div>